@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
@font-face {font-family:ThirstyScript; src: url(../text/ThirstyScriptRegular_0.otf);}

.container {
  background-color: white;
  text-align: center;
  position: relative;
  z-index:-1;
}

/* logo tingz */
.logoBox {
  position: fixed;
  top: 40%;
  left: 10%;
  right: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo {
  width: 100%;
  z-index: 0;
}

.mobileLogo {
  width: 40%;
  z-index: 0;
}

/* navbar */
.navbar {
  background-color: #ffe669;
}

.nav-link {
  color: #525252;
}

.nav-link:hover {
  color: black;
}

/* thirstyscript font */
.thirstyscript {
  font-family: ThirstyScript;
  color: rgb(37, 170, 225);
}

/* boxes */
.boxAbout {
  width: 70%;
  background-color: rgba(230, 231, 255, 1);
  padding: 10px;
  display: none;
  z-index: 5;
}

.boxMenu {
  width: 70%;
  background-color: rgba(217, 245, 255, 1);
  padding: 10px;
  display: none;
  z-index: 5;
  overflow:auto;
  height: 80vh;
}

.boxContact {
  width: 70%;
  background-color: rgba(242, 242, 242, 1);
  padding: 10px;
  display: none;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
}

.boxOrder {
  width: 70%;
  background-color: #ebfff6;
  padding: 10px;
  display: none;
  z-index: 5;
}

/* button */
.btn {
  border: 0 !important;
}

.grubby {
  width: 90px;
}

.phone {
  width: 100px;
}

/* footer */
footer {
  position: fixed;
  font-size: 0.7em;
  font-style: italic;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 5px;
  z-index: -1;
}
