@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');
@font-face {font-family:ThirstyScript; src: url(../text/ThirstyScriptRegular_0.otf);}

.container {
  background-color: white;
  text-align: center;
  position: relative;
  z-index:-1;
}

/* logo tingz */
.logoBox {
  position: fixed;
  top: 40%;
  left: 10%;
  right: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo {
  width: 100%;
  z-index: 0;
}

.mobileLogo {
  width: 40%;
  z-index: 0;
}

/* navbar */
.navbar {
  background-color: #ffe669;
}

.nav-link {
  color: #525252;
}

.nav-link:hover {
  color: black;
}

/* thirstyscript font */
.thirstyscript {
  font-family: ThirstyScript;
  color: rgb(37, 170, 225);
}

/* boxes */
.boxAbout {
  width: 100%;
  background-color: rgba(230, 231, 255, 1);
  padding: 10px;
  display: none;
  z-index: 5;
}

.boxMenu {
  width: 100%;
  background-color: rgba(217, 245, 255, 1);
  padding: 10px;
  display: none;
  z-index: 5;
  overflow:auto;
}

.boxContact {
  width: 100%;
  background-color: rgba(242, 242, 242, 1);
  padding: 10px;
  display: none;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
}

/* button */
.btn {
  border: 0 !important;
}

/* footer */
footer {
  position: fixed;
  font-size: 0.7em;
  font-style: italic;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 5px;
  z-index: -1;
}

/* gps */
iframe {
  frameborder: 0;
  scrolling: no;
}

.gpsnavLg {
  width: 500px;
  height: 450px;
}

.gpsnavSm {
  width: 80%;
  height: 280px;
}

.mapouterLg {
  position: relative;
  text-align: right;
  height: 450px;
  width: 500px;
  }

.gmap_canvasLg {
  overflow: hidden;
  background: none !important;
  height: 450px;
  width: 500px;}

.mapouterSm {
  position: relative;
  text-align: center;
  height: 450px;
  }

.gmap_canvasSm {
  overflow: hidden;
}

/* mobile and desktop tingz */
#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px){
#content-desktop {display: none;}
#content-mobile {display: block;}
.boxMenu, .boxContact {
  height: 80vh;
}

.gpsnavLg {
  width: auto;
  height: 300px;
}

.mapouterLg {
  height: 300px;
  width: auto;
  }

.gmap_canvasLg {
  height: 300px;
  width: auto;}

.mapouterSm {
  height: 300px;
  }
}
