/* menu formatting */
.inline {
  display: inline;
}

.none {
  padding: 0;
  margin: 0;
}

.step {
  font-weight: bold;
  color: grey;
  font-size: 1.1em;
}

.important {
  font-weight: bold;
  color: #ff5c5c;
}

.bolded {
  font-weight: bold;
  color: #14327a;
}

.desc {
  color: #14327a;
}

.mini {
  font-size: 0.9em;
  font-style: italic;
  color: #00ad7c;
}

.izzy {
  color: #ff8482;
}

.menu {
  color: grey !important;
}

.menu:hover {
  color: #00ad7c !important;
}
