
/* gps */
.addressLg {
  font-size: 1.3em;
}

iframe {
  frameborder: 0;
  scrolling: no;
}

.gpsnavLg {
  width: 500px;
  height: 450px;
}

.gpsnavSm {
  width: 80%;
  height: 280px;
}

.mapouterLg {
  position: relative;
  text-align: right;
  height: 450px;
  width: 500px;
  }

.gmap_canvasLg {
  overflow: hidden;
  background: none !important;
  height: 450px;
  width: 500px;}

.mapouterSm {
  position: relative;
  text-align: center;
  height: 450px;
  }

.gmap_canvasSm {
  overflow: hidden;
}

/* mobile and desktop tingz */
#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px){
#content-desktop {display: none;}
#content-mobile {display: block;}
.boxMenu, .boxContact {
  height: 80vh;
}

.gpsnavLg {
  width: 500px;
  height: 250px;
}

.mapouterLg {
  height: 250px;
  width: auto;
  }

.gmap_canvasLg {
  height: 250px;
  width: auto;}

.mapouterSm {
  height: 250px;
  }
}
