/* mobile and desktop tingz */
#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 768px){
#content-desktop {display: none;}
#content-mobile {display: block;}
.boxMenu, .boxAbout, .boxOrder {
  width: 100%;
}

.boxContact {
  width: 100%;
  height: 83vh;
}

.gpsnavLg {
  width: 500px;
  height: 250px;
}

.mapouterLg {
  height: 250px;
  width: auto;
  }

.gmap_canvasLg {
  height: 250px;
  width: auto;}

.mapouterSm {
  height: 250px;
  }
}
