/* Lisa Gieng
Nov/14/2019
hw6.css
This file does the styling for the html page. It makes it easier
to read and more attractive to view.
The table styling is done with bootstrap.
*/

body {
  padding: 20px;
}

table {
  padding: 20px;
}

th {
  background-color: #f0ebff;
}

/* for alternating cell pattersn */
tr:nth-child(2n+1) td:nth-child(2n+1),
tr:nth-child(2n+2) td:nth-child(2n+2) {
  background: #ededed;
}

span {
  font-weight: bold;
}

/* for keeping the bullet points centered */
ul {
  display: inline-block;
  text-align: left;
}

form {
  background-image: linear-gradient(to bottom right, #fde3ff, #e3f6ff);
  text-align:center;
  padding: 20px;
  border-radius:20px;
}

footer {
  bottom: 0;
  text-align:center;
  width: 100%;
  font-size: 0.8em;
  font-style: italic;
}

.errorColor {
  color: red;
}
